    <%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/gallery2.css">
<body>
  <div class="tt"><h1>CEC</h1></div>
    <main>
      <div id="gallery">
          <% for (let photo of photos) { %>
        <figure>
          <img src="<%= photo.imageUrl %> " title="<%= photo.title %>">
          <figcaption><%= photo.title %></figcaption>
        </figure>
        <% } %>

      </div>
    </main>
    <script src="/js/gallery.js"></script>
    <%- include('../includes/nwHead.ejs') %>